@import "https://fonts.fontstorage.com/import/arimo.css";
@import "https://fonts.fontstorage.com/import/montserrat.css";

body {
    background-repeat: no-repeat;
    background-size: cover;
    link: #3B332E;
}

.container {
    width: 1400px;
    height: 1030px;
    margin-top: -5%;
}

.header {
    width: 1400px;
    height: 700px;
    text-align: center;
    margin-bottom: -20%;
}

.title {
    width: 1400px;
    text-align: center;
}

.main {
    width: 1400px;
    height: 400px;
}

.icons {
    margin-top: 10%;
    width: 1400px;
    height: 400px;
    margin-bottom: -5%;
}

.urls {
    width: 1400px;
}

.gerb {
    width: 1400px;
    height: 200px;
}

h1 {
    color: #3B332E;
    font-size: 170px;
    font-family: 'Arimo';
    margin-top: 20%;
    margin-bottom: -7%;
}

h2 {
    color: #3B332E;
    font-size: 100px;
    font-family: 'Arimo';
    margin-bottom: -2%;
}

p {
    color: #3B332E;
    font-size: 35px;
    font-family: 'Montserrat';
}

#image-map {
    width: 19%;
    height: 67%;
    margin-left: 17%;
}

#image-login {
    width: 19%;
    height: 67%;
    margin-left: 8%;
}

#image-about {
    width: 19%;
    height: 67%;
    margin-left: 8%;
}

#image-gerb {
    width: 12%;
    height: 98%;
    margin-left: 1%;
}

#Map {
    color: #3B332E;
    font-size: 40px;
    font-family: 'Montserrat';
    margin-left: 22%;
}

#Login {
    color: #3B332E;
    font-size: 40px;
    font-family: 'Montserrat';
    margin-left: 7%;
}

#About {
    color: #3B332E;
    font-size: 40px;
    font-family: 'Montserrat';
    margin-left: 8%;
}


@media (orientation: portrait) {

    body {
        width: 300px;
        height: 550px;
    }

    .container {
        width: 300px;
        height: 100px;
    }

    .header {
        width: 600px;
        height: 250px;
    }

    .title {
        width: 600px;
    }

    .main {
        width: 300px;
        height: 100px;
    }

    .icons {
        margin-top: 70%;
        width: 600px;
        height: 100px;
        margin-bottom: -4%;
        margin-left: 0%;
    }

    .urls {
        width: 600px;
        margin-left: -20%;
        margin-bottom: 10%;
    }

    .gerb {
        width: 600px;
        height: 100px;
    }

    h1 {
        font-size: 100px;
        margin-top: 19%;
        margin-bottom: -7%;
        margin-left: -20%;
    }

    h2 {
        font-size: 67px;
        margin-bottom: -1%;
        margin-left: -20%;
    }

    p {
        font-size: 20px;
        margin-left: -20%;
    }

    #image-map {
        width: 12%;
        height: 70%;
        margin-left: 14%;
    }

    #image-login {
        width: 12%;
        height: 70%;
        margin-left: 8%;
    }

    #image-about {
        width: 12%;
        height: 70%;
    }

    #image-gerb {
        width: 8%;
        height: 56%;
        margin-left: 0%;
        margin-top: 5%;
    }

    #Map {
        color: #3B332E;
        font-size: 15px;
        font-family: 'Montserrat';
        margin-left: 26%;
    }

    #Login {
        color: #3B332E;
        font-size: 15px;
        font-family: 'Montserrat';
        margin-left: 3%;
    }

    #About {
        color: #3B332E;
        font-size: 15px;
        font-family: 'Montserrat';
        margin-left: 3%;
    }

}

@media (orientation: landscape) {
    .main {
        margin-top: -10%;
        width: 600px;
        height: 100px;
    }

    .icons {
        margin-bottom: -12%;
    }
}

@media (min-width: 700px) AND (max-width: 900px) {

    body {
        width: 300px;
        height: 550px;
    }

    .container {
        width: 300px;
        height: 100px;
    }

    .header {
        width: 600px;
        height: 250px;
    }

    .title {
        width: 600px;
    }

    .main {
        width: 300px;
        height: 100px;
    }

    .icons {
        margin-top: 70%;
        width: 600px;
        height: 100px;
        margin-bottom: -4%;
        margin-left: 0%;
    }

    .urls {
        width: 600px;
        margin-left: -20%;
        margin-bottom: 10%;
    }

    .gerb {
        width: 600px;
        height: 100px;
    }

    h1 {
        font-size: 100px;
        margin-top: 19%;
        margin-bottom: -7%;
        margin-left: -20%;
    }

    h2 {
        font-size: 67px;
        margin-bottom: -1%;
        margin-left: -20%;
    }

    p {
        font-size: 20px;
        margin-left: -20%;
    }

    #image-map {
        width: 12%;
        height: 70%;
        margin-left: 14%;
    }

    #image-login {
        width: 12%;
        height: 70%;
        margin-left: 8%;
    }

    #image-about {
        width: 12%;
        height: 70%;
    }

    #image-gerb {
        width: 8%;
        height: 56%;
        margin-left: 0%;
        margin-top: 5%;
    }

    #Map {
        color: #3B332E;
        font-size: 15px;
        font-family: 'Montserrat';
        margin-left: 26%;
    }

    #Login {
        color: #3B332E;
        font-size: 15px;
        font-family: 'Montserrat';
        margin-left: 3%;
    }

    #About {
        color: #3B332E;
        font-size: 15px;
        font-family: 'Montserrat';
        margin-left: 3%;
    }


}