@import "https://fonts.fontstorage.com/import/arimo.css";
@import "https://fonts.fontstorage.com/import/montserrat.css";

body {
    background-repeat: no-repeat;
    background-size: cover;
}

html, body{
    width: 100%;
    padding: 10px;
    margin: 0;
    font-family: 'Montserrat';
}

#map {
    width: 60%;
    height: 80%;
    position: absolute;
    left: 30%;
    margin-left: 8%;
    margin-top: -10%;
}

.menu {
    list-style: none;
    padding: 5px;
    margin-top: -4%;
    font-size: 22px;
    color: #3B332E;
    margin-left: 4%;
}

.submenu {
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
}

.submenu li {
    font-size: 17px;
    color: #3B332E;
}

h1 {
    color: #3B332E;
    font-size: 90px;
    font-family: 'Arimo';
    margin-top: 3%;
    margin-left: 7%;
}

a {
    text-decoration: none;
}