<!DOCTYPE html>
{% load static %}

<html lang="RU" xmlns:margin-left="http://www.w3.org/1999/xhtml">

<head>
    <title>BMSTU WebMap</title>
    <link rel="stylesheet" href="{% static 'css/about.css'%}">
    <link rel="stylesheet" href="{% static 'css/slidebar.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-image: url('{% static 'images/about_page.jpg' %}')">

    <div class="slideheader"></div>
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle" style="position: fixed">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div>
        </label>
    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <li><a href="/">ГЛАВНАЯ СТРАНИЦА</a></li>
            <li><a href="/maps/">КАРТА</a></li>
            <li><a href="/profile/">ЛИЧНЫЙ КАБИНЕТ</a></li>
            <li><a href="/about/">О НАС</a></li>
        </ul>
    </div>

    <div class="container">

        <div class="header">
            <h1 id="About">О нас</h1>
        </div>

        <div class="main">

            <div class="photos">
                <img id="image-Katya" src="{% static 'images/Katya.jpg' %}" alt="Екатерина">
                <img id="image-Anya" src="{% static 'images/Anya.jpg' %}" alt="Анна">
                <img id="image-Nastya" src="{% static 'images/Nastya.jpg' %}" alt="Анастасия">
                <img id="image-Yarik" src="{% static 'images/Yarik.jpg' %}" alt="Ярослав">
            </div>

            <div class="info">

                <div class="Katya">
                    Больгина Екатерина
                    БМТ1-63Б
                    Fullstack
                </div>

                <div class="Anya">
                    Бондарева Анна
                    ФН4-42Б
                    Front-end
                </div>

                <div class="Nastya">
                    Должненко Анастасия
                    РК6-42Б
                    Back-end
                </div>

                <div class="Yarik">
                    Боровиков Ярослав
                    БМТ1-63Б
                    Back-end
                </div>

            </div>

        </div>




    </div>

</body>
</html>