<!DOCTYPE html>
{% load static %}

<html lang="RU" xmlns:margin-left="http://www.w3.org/1999/xhtml">

<head>
    <title>403</title>
    <link rel="stylesheet" href="{% static 'css/exception_page.css'%}">
    <link rel="stylesheet" href="{% static 'css/slidebar.css'%}">
</head>

<body style="background-image: url('{% static 'images/exception_page.jpg' %}')">

        <div class="slideheader"></div>
            <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
            <label for="openSidebarMenu" class="sidebarIconToggle">
                <div class="spinner diagonal part-1"></div>
                <div class="spinner horizontal"></div>
                <div class="spinner diagonal part-2"></div>
            </label>
        <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
                <li><a href="/">ГЛАВНАЯ СТРАНИЦА</a></li>
                <li><a href="/maps/">КАРТА</a></li>
                <li><a href="/profile/">ЛИЧНЫЙ КАБИНЕТ</a></li>
                <li><a href="/about/">О НАС</a></li>
            </ul>
        </div>


<div class="main">
    <h2>BMSTU WebMap</h2></br>
    <h1>403</h1></br>
    <p><strong>Упс! Кажется Вам сюда нельзя...</strong><br>Вернуться на <a href="{% url 'home' %}">главную страницу.</a></p>
</div>

</body>
</html>