
<!DOCTYPE html>
{% load static %}

<html lang="RU" xmlns:margin-left="http://www.w3.org/1999/xhtml">

<head>
    <title>500</title>
    <link rel="stylesheet" href="{% static 'css/exception_page.css'%}">
</head>

<body style="background-image: url('{% static 'images/exception_page.jpg' %}')">

<div class="main">
    <h2>BMSTU WebMap</h2></br>
    <h1>500</h1></br>
    <p><strong>Упс! Кажется на сервере что-то сломалось...</strong>
        <br>Пожалуйста, перезагрузите страницу или вернитесь к нас позже.
        <br>Наша команда уже работает над решением проблемы!
    </p>
</div>

</body>
</html>